@import "variables";

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Optional
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "mixins";
@import "fonts";
@import "global";
@import "blocks";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a[href^="mailto:"],
a[href^="tel:"] {
  white-space: nowrap;
  text-decoration: none;
}

a:hover {
  color: $carmine;
}

a.btn {
  text-decoration: none;
}

h1,
.h1 {
  font-size: 36px;
  text-align: center;
  line-height: normal;
}

h2,
.h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 0.8;
  color: $dark-grey;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 16px;
}

.subtitle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 6px;
  text-align: center;
  color: $dark-grey;
  text-transform: uppercase;
  margin-bottom: 50px;
}

h1.entry-title {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;

  &::before {
    content: "";
    position: absolute;
    background-color: $white-four;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $black-five;
    height: 1px;
    width: 32px;
    bottom: 0;
    left: 50%;
  }

  &.text-left {
    &::after {
      left: 0;
    }
  }
}

.decor {
  position: relative;
  padding-bottom: 8px;

  &::before {
    position: absolute;
    background-color: $black-five;
    content: "";
    height: 1px;
    width: 32px;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  &::after {
    position: absolute;
    background-color: $white-four;
    content: "";
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
}

li {
  margin-bottom: 0.7rem;
}

.list-mark {
  li {
    display: flex;

    &::before {
      content: "";
      display: inline-block;
      width: 7px;
      height: 7px;
      background-color: $scarlet;
      border-radius: 50%;
      margin-right: 9px;
      flex-basis: 7px;
      flex-grow: 0;
      flex-shrink: 0;
      margin-top: 7px;
    }
  }

  &.mark-right {
    li {
      text-align: right;
      flex-direction: row-reverse;

      &::before {
        margin-left: 9px;
        margin-right: 0;
      }
    }
  }
}

textarea {
  &.form-control {
    height: 176px;
  }
}

.star {
  top: 0;
  font-size: 14px;
  color: $scarlet;
}

.btn {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  min-width: 112px;
  padding: 9px 9px 8px;
  text-align: center;
}

.btn-one {
  color: $dark-grey;
  background-color: $white;
  border-color: $white-four;

  &:hover {
    color: $white;
    background-color: $dark-grey;
    border-color: $dark-grey;
  }
}

.btn-two {
  color: $dark-grey;
  background-color: $pinkish-grey-two;
  border-color: $pinkish-grey-two;

  &:hover {
    color: $white;
    background-color: $light-maroon;
    border-color: $light-maroon;
  }
}

.btn-three {
  color: $white;
  background-color: $dark-grey;
  border-color: $dark-grey;
  border-width: 2px;

  &:hover {
    color: $dark-grey;
    background-color: $white;
    border-color: $warm-grey-five;
  }
}

button:focus {
  outline: 0;
  border: 0;
}

.bg_white-three {
  background-color: $white-three;
}

.slider-main {
  margin-bottom: 21px;

  @media (min-width: 481px) {
    margin-bottom: 28px;
  }

  &__item {
    > .row {
      @media (min-width: 481px) {
        background-image: none !important;
        min-height: 420px;
      }

      @media (max-width: 480px) {
        margin-left: 0;
        margin-right: 0;
      }

      .col-content {
        margin-top: 38px;
        margin-bottom: 30px;
        padding-left: 0;
        z-index: 2;

        @media (min-width: 481px) {
          padding-left: 15px;
          align-self: center;
        }
      }

      .col-img {
        z-index: 1;
      }
    }
  }

  &__wrap {
    border: 10px solid $warm-grey-two;
    margin-right: 28px;
    padding-top: 24px;
    padding-bottom: 22px;
    padding-left: 19px;
    padding-right: 22px;
    background-color: $white-78;

    @media (min-width: 481px) {
      border-right: 0;
      margin-right: 0;
      padding-right: 64px;
      padding-left: 96px;
      padding-bottom: 9.12%;
      padding-top: 7.9%;
    }
  }

  &__txt {
    padding-left: 27px;

    @media (min-width: 481px) {
      padding-left: 0;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: normal;
    letter-spacing: 4.8px;
    text-align: right;
    color: $warm-grey-three;
    text-transform: uppercase;
    margin-right: -4.8px;
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: right;
    color: $dark-grey;
    margin-bottom: 12px;

    @media (min-width: 481px) {
      margin-bottom: 6.1%;
    }
  }

  &__descr {
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.35px;
    text-align: right;
    color: $warm-grey-three;

    p {
      margin-bottom: 12px;
    }
  }

  &__img {
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  &__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    a {
      &.order {
        margin-left: 5px;
      }
    }
  }
}

.service {
  margin-bottom: 37px;

  @media (min-width: 481px) {
    margin-bottom: 45px;
  }

  .row {
    @media (min-width: 481px) {
      background-image: none !important;
      min-height: 420px;
    }

    .col-content {
      padding-right: 0;
      justify-content: flex-end;
      z-index: 2;

      @media (min-width: 481px) {
        padding-left: 15px;
        align-self: center;
      }
    }

    .col-img {
      z-index: 1;
    }
  }

  &__wrap {
    padding: 24px 32px 22px 28px;
    margin-left: 28px;
    background-color: $white-78;

    @media (min-width: 481px) {
      margin-left: 0;
      padding-left: 64px;
      padding-bottom: 9.12%;
      padding-top: 7.9%;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: normal;
    letter-spacing: 4.8px;
    color: $dried-blood;
    text-transform: uppercase;
    margin-bottom: 14px;

    @media (min-width: 481px) {
      margin-bottom: 26px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing: 0.6px;
    color: $dark-grey;
    margin-bottom: 14px;

    @media (min-width: 481px) {
      margin-bottom: 4px;
    }
  }

  &__descr {
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.35px;
    color: $warm-grey-three;

    p {
      margin-bottom: 12px;
    }
  }

  &__img {
    background-size: auto 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  &__link {
    display: flex;
    flex-wrap: wrap;

    a {
      &:first-child {
        margin-right: 5px;
      }
    }
  }
}

.gift {
  margin-bottom: 24px;

  @media (min-width: 767px) {
    margin-bottom: 86px;
  }

  &__item {
    border: 10px solid $pinkish-grey-three;
    margin-left: -15px;
    margin-right: -15px;

    @media (min-width: 767px) {
      margin-left: 0;
      margin-right: 0;
    }

    > .row {
      @media (min-width: 1200px) {
        // min-height: 420px;
      }
    }

    .col-content {
      @media (min-width: 768px) {
        display: flex;
        align-self: center;
      }
    }

    .col-img {
      @media (min-width: 768px) {
        display: flex;
      }

      img {
        padding-top: 8px;
        padding-bottom: 8px;
      }

      & .col-img-1,
      & .col-img-2 {
        @media (min-width: 768px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }

  &__wrap {
    padding: 21px 0 22px 28px;

    @media (min-width: 1200px) {
      margin-right: 0;
      padding-left: 45px;
      padding-bottom: 9.124%;
      padding-top: 7.9%;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: normal;
    letter-spacing: 4.8px;
    color: $dried-blood;
    text-transform: uppercase;
    margin-bottom: 4px;

    @media (min-width: 992px) {
      margin-bottom: 26px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing: 0.6px;
    color: $dark-grey;
    margin-bottom: 15px;

    @media (min-width: 768px) {
      margin-bottom: 4px;
    }
  }

  &__price {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.45px;
    color: $scarlet;
    white-space: nowrap;
    margin-bottom: 14px;

    .amount {
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 0.9px;
      white-space: nowrap;
    }
  }

  &__link {
    display: flex;

    a {
      &:first-child {
        margin-right: 5px;
      }
    }
  }
}

.about-us {
  padding-top: 12px;
  padding-bottom: 50px;
  background-color: $white-three;

  @media (min-width: 481px) {
    padding-top: 90px;
    padding-bottom: 78px;
  }

  h1 {
    display: block;
    margin-bottom: 20px;

    @media (min-width: 481px) {
      margin-bottom: 7px;
    }
  }

  .subtitle {
    margin-bottom: 46px;
  }

  &__text {
    text-align: justify;
  }

  &_toggle {
    padding-bottom: 8px;
    display: inline-block;
  }
}

%zoom {
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    background: url(../img/sprite.png) 0 -196px no-repeat;
    width: 61px;
    height: 61px;
    top: 43%;
    left: 50%;
    margin-left: -30px;
  }
}

.licence {
  padding-top: 35px;
  margin-bottom: 28px;

  @media (min-width: 481px) {
    padding-top: 28px;
  }

  .row {
    @media (max-width: 480px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .subtitle {
    margin-bottom: 30px;

    @media (min-width: 481px) {
      margin-bottom: 50px;
    }
  }

  &__img {
    margin-bottom: 26px;
    width: 100%;
  }

  &__link {
    @extend %zoom;
  }
}

.specialists,
.gallery_carousel {
  .slick-slider {
    margin-bottom: 100px;

    @media (min-width: 481px) {
      margin-bottom: 0;
    }
  }

  @media (min-width: 481px) {
    margin-bottom: 110px;
  }

  & .row {
    @media (max-width: 480px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__name {
    font-size: 14px;
    line-height: 1.12;
    letter-spacing: 0.7px;
    text-align: center;
    color: $black-four;
    text-transform: uppercase;
    margin-bottom: 7px;
  }

  &__img {
    position: relative;
    margin-bottom: 17px;
    max-width: 100%;
  }

  &__descr {
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.6px;
    text-align: center;
    text-transform: uppercase;
    color: $warm-grey-three;
  }

  &__link {
    @extend %zoom;
  }

  .owl-nav {
    margin-top: 24px;
    @media (min-width: 481px) {
      margin-top: 0;
    }
  }
}

.specialists {
  &__item {
    padding-left: 38px;
    padding-right: 38px;
  }
}

.slick-slider {
  .slick-slide {
    padding-bottom: 23px;

    @media (min-width: 481px) {
      padding-bottom: 0;
    }
  }

  &.slick-dotted .slick-slide {
    padding-bottom: 0;
  }

  & .slick-prev,
  & .slick-next {
    position: absolute;
    display: block;
    font-size: 0;
    width: 37px;
    height: 36px;
    top: 100%;
    background: url(../img/sprite.png) no-repeat;
    padding: 0;
    border: 0;
    outline: none;
    line-height: 0;
    z-index: 2;

    &.slick-disabled {
      display: none !important;
    }

    @media (min-width: 481px) {
      top: 50%;
      transform: translate(0, -100%);
    }
  }

  .slick-prev {
    background-position: -63px -93px;
    right: 50%;
    left: auto;
    margin-right: 7px;

    &:hover {
      background-position: -63px -295px;
    }

    @media (min-width: 481px) {
      left: calc(8.33333% * -1);
      margin-right: 0;
    }
  }

  .slick-next {
    background-position: -63px -147px;
    left: 50%;
    margin-left: 7px;

    &:hover {
      background-position: -63px -246px;
    }

    @media (min-width: 481px) {
      right: calc(8.33333% * -1);
      margin-left: 0;
      left: auto;
    }
  }

  .slick-dots {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    margin-top: 28px;

    li {
      position: relative;
      display: inline-block;
      cursor: pointer;

      button {
        font-size: 0;
        line-height: 0;
        color: transparent;
        width: 12px;
        height: 12px;
        margin: 5px 9px;
        background: $white;
        display: block;
        transition: opacity 0.2s ease;
        border-radius: 50%;
        border: 1px solid $warm-grey-four;
        padding: 0;
      }

      &.slick-active button,
      &:hover button {
        background: $warm-grey-four;
      }
    }
  }

  .gallery_carousel {
    &__item {
      padding-left: 38px;
      padding-right: 38px;
    }

    &__link {
      @extend %zoom;
    }

    &__pic {
      max-width: 100%;
    }

    button {
      &.disabled {
        display: none !important;
      }

      @media (min-width: 481px) {
        position: absolute;
      }

      &.slick-prev {
        margin-right: 7px;
      }

      @media (min-width: 481px) {
        right: calc(100% + 8.33333% - 30px);
        margin-right: 0;
      }
    }

    &.slick-next {
      margin-left: 7px;

      @media (min-width: 481px) {
        left: calc(100% + 8.33333% - 30px);
        margin-left: 0;
      }
    }
  }
}

#breadcrumbs {
  text-align: center;
  overflow: hidden;
  margin-bottom: 0;
  // padding: 0 50px;
  line-height: 1.2;
  margin-bottom: 25px;
  margin-left: -15px;
  margin-right: -15px;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }

  &::before,
  &::after {
    content: "";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 1px;
    background-color: $warm-grey;
  }

  &::before {
    margin-left: -100%;
    left: -3%;
  }

  &::after {
    margin-right: -100%;
    right: -3%;
  }

  > span {
    display: inline-block;
    vertical-align: middle;
  }

  & span,
  & a {
    font-size: 15px;
    color: $pinkish-grey-four;
  }

  a {
    text-decoration: none;
  }
}

.header-enter_service {
  padding: 38px 0 37px;
  background-position: 0 0;
  background-size: cover;
  text-align: center;
  margin-bottom: 33px;

  div[class^="col-"] {
    padding-left: 0;
    padding-right: 0;

    @media (min-width: 481px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__wrap {
    border: 10px solid $warm-grey-two;
    background-color: $white-78;
    padding: 46px 15px 40px 15px;
    min-height: 348px;

    @media (min-width: 481px) {
      padding: 60px 72px 40px 78px;
    }
  }

  h1 {
    position: relative;
    display: inline-block;
    margin-bottom: 12px;
    padding-bottom: 7px;

    &::before {
      position: absolute;
      background-color: $black-five;
      content: "";
      height: 1px;
      width: 32px;
      left: 0;
      bottom: 0;
      z-index: 2;
    }

    &::after {
      position: absolute;
      background-color: $white-four;
      content: "";
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  &__txt {
    font-size: 14px;
    color: $black;
    line-height: 1.57;
    letter-spacing: 0.35px;

    p {
      margin-bottom: 0;
    }
  }
}

.multiple-services {
  background: $white-three;
  padding: 21px 0 44px;
  margin-bottom: 42px;

  &__service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 40px;
    flex-grow: 1;

    &:first-child {
      margin-top: 0;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 22px;

    @media (min-width: 481px) {
      margin-bottom: 14px;
    }
  }

  &__logo {
    margin-bottom: 13px;
  }

  &__subtitle {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 6px;
    text-align: center;
    color: $dark-grey;
    margin-bottom: 44px;

    @media (min-width: 481px) {
      margin-bottom: 70px;
    }
  }

  & .row {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__column {
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
    min-height: 348px;
  }

  &__item {
    background: $beige;
    border: 10px solid $pinkish-grey-three;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
    flex-grow: 1;

    @media (min-width: 481px) {
      padding-left: 19px;
      padding-right: 18px;
    }
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.45px;
    align-self: center;
    color: $black;
    margin-bottom: 20px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__subname {
    font-size: 14px;
    line-height: normal;
  }

  &__link {
    text-align: center;
    margin-top: 15px;
  }

  &__price {
    font-size: 16px;
    color: $dark-grey;
    font-weight: bold;
    line-height: normal;
    text-align: right;
    white-space: nowrap;
  }

  &__amount {
    font-size: 24px;
    white-space: nowrap;
  }
}

.price_services {
  $this: &;
  line-height: normal;

  &__section {
    margin-bottom: 45px;

    &:last-child {
      @media (min-width: 481px) {
        margin-bottom: 104px;
      }
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 44px;
  }

  &__nav {
    margin-bottom: 34px;

    .mixitup-control {
      display: inline-block;
      background: none;
      box-shadow: none;
      padding: 0;
      border: 0;
      color: $chocolate;
      margin-right: 24px;
      border-bottom: 1px solid $dark-grey;
      margin-bottom: 10px;

      &:last-child {
        margin-right: 0;
      }

      &-active,
      &:hover {
        color: $dark-grey;
        border-color: transparent;
      }
    }
  }

  &__subtitle {
    color: $black-six;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }

  &__wrap {
    background: $white;
    border: solid 10px $warm-grey-two;
  }

  &__item {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid $warm-grey-two;

    &:last-child {
      border-bottom: 0;
    }

    .row {
      align-items: center;
    }
  }

  &__price {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.45;
    letter-spacing: 0.6px;
    color: $dark-grey;
    order: 12;

    @media (min-width: 768px) {
      text-align: right;
    }
  }

  &__amount {
    font-size: 24px;
    white-space: nowrap;

    &_size_m {
      font-size: 18px;
    }
  }

  &__duration {
    font-size: 14px;
    text-align: right;
    letter-spacing: 0.35px;
    color: $warm-grey-three;
    margin-bottom: 18px;
    white-space: nowrap;
    order: 4;

    @media (min-width: 768px) {
      margin-bottom: 0;
      text-align: left;
    }

    span {
      position: relative;
      top: 3px;

      @media (min-width: 768px) {
        position: static;
      }
    }
  }

  &__link_column {
    order: 12;

    @media (min-width: 768px) {
      order: 12;
    }
  }

  &__link {
    text-align: right;
  }

  &__name {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.18px;
    color: $dark-grey;

    > span {
      @media (min-width: 768px) {
        margin-right: 18px;
      }
    }
  }

  &__sublist {
    border-bottom: solid 1px $warm-grey-two;
    padding-top: 10px;
    padding-bottom: 8px;

    &:last-child {
      border-bottom: 0;
    }

    .row {
      align-items: flex-end;
    }

    #{$this}__price {
      text-align: right;
    }

    &:last-child {
      padding-bottom: 20px;
    }
  }

  &__subname {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
    color: $warm-grey-three;
    padding-left: 26px;
  }

  &__more {
    font-size: 12px;
    letter-spacing: 0.12px;
    color: $chocolate-two;
    text-transform: lowercase;
    white-space: nowrap;
  }

  &__sale_column {
    @media (min-width: 768px) and (max-width: 991px) {
      text-align: right;
    }
  }

  &__sale {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.36;
    letter-spacing: 0.35px;
    color: $scarlet;
    white-space: nowrap;

    &::before {
      display: inline-block;
      content: "";
      width: 27px;
      height: 20px;
      background: url(../img/sprite.png) 0 -274px no-repeat;
      vertical-align: middle;
      margin-right: 8px;
    }
  }

  &__descr_column {
    order: 2;

    @media (min-width: 768px) {
      order: 13;
    }
  }

  &__descr {
    font-size: 12px;
    letter-spacing: 0.12px;
    color: $warm-grey-three;
    padding: 1.4rem 0 34px 0;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__sale_column_mobile {
    margin-bottom: 18px;
    order: 3;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.entry {
  padding-bottom: 74px;
  padding-top: 6px;

  &-content {
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.sale {
  $this: &;
  .entry-title {
    margin-bottom: 0;

    @media (min-width: 768px) {
      margin-top: -8px;
    }

    &::before,
    &::after {
      display: none;
    }

    @media (min-width: 768px) {
      &::before,
      &::after {
        display: inline-block;
        bottom: -15px !important;
      }
    }
  }

  .entry-header {
    margin-bottom: 44px;
  }

  &__img {
    margin-bottom: 22px;
  }

  &__price {
    margin-bottom: 14px;

    del {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.45;
      letter-spacing: 0.6px;
      color: $warm-grey-three;
      margin-right: 18px;

      #{$this}__amount {
        font-size: 24px;
      }
    }
  }

  ins {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    line-height: 0.97;
    letter-spacing: 0.9px;
    color: $scarlet;

    #{$this}__amount {
      font-size: 36px;
    }
  }

  &__link {
    margin-bottom: 28px;
  }
}

.share {
  &__title {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    color: $warm-grey-three;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1024px) {
  select,
  textarea,
  input {
    font-size: 12px;
  }
}
