$grid-breakpoints: (
  xs: 0,
  sm: 481px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 470px,
  md: 720px,
  lg: 960px,
  xl: 1170px
);

$font-family-base: "Montserrat", sans-serif;
$font-size-base: 0.875rem;
$line-height-base: 1.429;
$input-placeholder-color: rgba(136, 136, 136, 0.4);
$input-height: 50px;
$input-border-width: 2px;

$white: #fff;
$white-78: rgba(255, 255, 255, 0.78);
$primary: #4a0903;
$dark-grey: #26292c;
$pinkish-grey-two: #ddc7c2;
$dried-blood: #4a0903;
$black: #191919;
$navbar-light-color: $dried-blood;
$white-four: #e6e6e6;
$light-maroon: #a3525a;
$chocolate: #380404;
$black-six: #000;
$chocolate-two: #390604;
$white-three: #fafafa;
$input-color: $dark-grey;

$body-bg: $white;
$body-color: $dark-grey;
$reddy-brown: #5e0f02;
$warm-grey: #eeeeee;
$warm-grey-two: #eaeaea;
$warm-grey-three: #6f6f6f;
$warm-grey-four: #828282;
$warm-grey-five: #e5e5e5;
$black-four: #212121;
$black-five: #222222;
$pinkish-grey-three: #ddc8c3;
$scarlet: #b6001d;
$pinkish-grey-three: #ddc8c3;
$pinkish-grey-four: #bfbfbf;
$beige: #f3e8e4;
$carmine: #a40017;
$crimson: #910013;
// $component-active-color: $crimson;
$custom-control-indicator-checked-color: $crimson;

$input-border-color: $warm-grey;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
$navbar-toggler-border-radius: 0;

$link-color: $carmine;
$link-decoration: underline;
$link-hover-decoration: none;
$enable-rounded: false;
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;

$headings-font-weight: 700;

$input-btn-focus-box-shadow: none;
$custom-control-indicator-size: 1.357rem;
$custom-control-gutter: 1.3rem;
$custom-control-indicator-border-color: $warm-grey;
$custom-control-indicator-border-width: 1px;
// $custom-checkbox-indicator-icon-checked: url(
//   "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'><path fill='#{$custom-control-indicator-checked-color}' d="M25.329,
//   0c25.318,
//   025.31,
//   025.3,
//   0c24.766,
//   0.39124.233,
//   0.78423.699,
//   1.178c22.660,
//   1.93721.678,
//   2.8072.684,
//   3.632c17.799,
//   6.02915.187,
//   8.85412.71,
//   11.73c11.833,
//   12.7471.932,
//   13.7731.152,
//   14.9c9.870,
//   15.3039.339,
//   15.7819.152,
//   16.243c7.045,
//   14.3344.94,
//   12.4282.835,
//   10.519c2.829,
//   10.5192.825,
//   10.5192.821,
//   10.519c1.916,
//   11.3641.011,
//   12.212.105,
//   13.057c-0,
//   13.26.505,
//   13.686.648,
//   13.854c1.297,
//   14.6161.943,
//   15.382.592,
//   16.144c5.374,
//   19.4288.156,
//   22.7131.938,
//   26c11.203,
//   25.29711.471,
//   24.59411.738,
//   23.89c12.300,
//   22.41313.023,
//   20.98713.724,
//   19.626c15.419,
//   16.34217.309,
//   13.30119.255,
//   10.321c20.020,
//   9.1482.912,
//   8.09221.698,
//   6.95c22.521,
//   5.75923.473,
//   4.67624.399,
//   3.599c24.914,
//   3.00325.419,
//   2.3226,
//   1.807c25.965,
//   1.54625.457,
//   0.17325.329,
//   0z"/></svg>"
// );

// <svg
// xmlns="http://www.w3.org/2000/svg"
// xmlns:xlink="http://www.w3.org/1999/xlink"
// width="26px" height="26px">
// <path fill-rule="evenodd"  fill="rgb(145, 0, 19)"
// d="M25.329,0.000 C25.318,0.000 25.310,0.000 25.300,0.000 C24.766,0.391 24.233,0.784 23.699,1.178 C22.660,1.937 21.678,2.807 20.684,3.632 C17.799,6.029 15.187,8.854 12.710,11.730 C11.833,12.747 10.932,13.773 10.152,14.900 C9.870,15.303 9.339,15.781 9.152,16.243 C7.045,14.334 4.940,12.428 2.835,10.519 C2.829,10.519 2.825,10.519 2.821,10.519 C1.916,11.364 1.011,12.212 0.105,13.057 C-0.000,13.260 0.505,13.686 0.648,13.854 C1.297,14.616 1.943,15.380 2.592,16.144 C5.374,19.428 8.156,22.713 10.938,26.000 C11.203,25.297 11.471,24.594 11.738,23.890 C12.300,22.413 13.023,20.987 13.724,19.626 C15.419,16.342 17.309,13.301 19.255,10.321 C20.020,9.148 20.912,8.092 21.698,6.950 C22.521,5.759 23.473,4.676 24.399,3.599 C24.914,3.003 25.419,2.320 26.000,1.807 C25.965,1.546 25.457,0.173 25.329,0.000 Z"/>
// </svg>;
